html, body {
    margin: 0; /*Using this to allow the header background to reach the edge of the viewport*/
    /* height: 100vh; */
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 100;
}

h2 {
    font-size: 2.5em;
    font-weight: 900;
    /*text-align: center;*/
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 1em;
    margin-bottom: 0;
}


body > header {
    position: sticky;
    z-index: 1;
    padding: 1rem 2rem;
    background-color: rgb(0, 0, 0);
    color: white;
}

header a:link, 
header a:visited {
    color: white;
    text-decoration: none;
}


main {
    position: relative;
    /* padding: 5%; */
    padding: 2em;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 2rem;
    max-width: 700px;
    /* height: 100vh; */
}


footer {
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: black;
    color: white;
    padding: 2rem 1rem;
    font-size: 1.25em;
    /* min-height: 100%; */
}

footer a:link,
footer a:visited {
    color:white;
}


.social-links {
    width: 50px;
    margin: 0px 5px 0px 5px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(95, 99, 104), rgb(95, 99, 104));
}