/*                  || General styles */
html, body {
    margin: 0; /*Using this to allow the header background to reach the edge of the viewport*/
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 100;
}

h2 {
    font-size: 2.5em;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 1em;
    margin-bottom: 0;
}
/*----------------------------*/


/*                  || Header */
body > header {
    position: sticky;
    z-index: 1;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr auto;
    padding: 1rem 2rem;
    background-color: rgb(0, 0, 0);
    color: white;
}

header a:link, 
header a:visited {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/* Class used to create the downward facing arrow next to the blog button*/
.arrow {
    border: solid white;
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform:rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropbtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* The container <div> needed to position the dropdown content */
.dropdown {
    position: relative;
}

/* Class for adding the | next to the menu options */
.dropdown-item-border {
    border: solid rgb(70, 70, 70);
    border-width: 0px 0px 0px 3px;
    padding: 3px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    gap:1em;
    padding: 1em;
    min-width: 130px;
    background-color: black;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display:grid;
    /* justify-items:end; */
}

/* The div for enlarging the background box that appears when hovering over the button */
.blog-button {
    padding: .3em;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .blog-button {
    background-color: rgb(70, 70, 70);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(70, 70, 70);
}
/*--------------------------*/


/*                  || Main */
main {
    position: relative;
    /* padding: 5%; */
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    /* margin-bottom: 2rem; */
    max-width: 700px;
}

main a:link,
main a:visited {
    color: black;
}
/*----------------------------*/


/*                  || Footer */
footer {
    display: flex;
    column-gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0;
    text-align: center;
    background-color: black;
    color: white;
    padding: 2rem 1rem;
    font-size: 1em;
}

footer a:link,
footer a:visited {
    color:white;
}

.social-links {
    width: 50px;
    margin: 0px 5px 0px 5px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(95, 99, 104), rgb(95, 99, 104));
}
/*----------------------------*/